.game__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 57px;


}


.game__cardd {
    max-width: 895px;
}


.game__text h1 {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 31px;
    line-height: 187%;
    color: #fff;

}

.game__btn button {
    width: 139px;
    height: 57px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 10px;

    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 187%;
    color: #fff;
    border: none;


}
.game__wrapper2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 47px;
}

.game__card h2 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 187%;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;

}

.game__card {

    width: 100%;
    gap: 90px;
}

.game__cardd {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 47px;

}

.game__card .logoo {
    margin-bottom: 25px;
    width: 100%;
}

@media(max-width:930px) {
    .game__cardd {
        gap: 20px;
    }
}

@media(max-width:920px) {
    .game__cardd {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;

    }

    .game__cardd .game__card h2 {
        margin-bottom: 20px;
        margin-top: 0;
    }

    .game__card {
        max-width: 350px;
        display: block;
        margin: 0 auto;

    }

    .game__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 57px;


    }





}

@media(max-width:920px) {
    .game__cardd {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 5px;
    }





}

@media(max-width:700px) {
    .game__text h1 {
        font-weight: 600;
        font-size: 25px;
    }

    .game__btn button {
        width: 100px;
        height: 47px;
        font-weight: 400;
        font-size: 15px;
    }
}

@media(max-width:550px) {
    .game__text h1 {
        font-weight: 500;
        font-size: 20px;
    }

    .game__btn button {
        width: 80px;
        height: 37px;
        font-weight: 300;
        font-size: 10px;
    }

    .game__card .logoo {
        width: 100%;
    }
}

@media(max-width:750px) {
    .game__cardd{
        gap: 25px;     
    }
    .game__card h2 {
        font-weight: 400;
        font-size: 17px;
    }
}