.hero {
    margin-bottom: 132px;
}



.hero__img {
    position: relative;

}

.hero__img img {
    position: absolute;
    top: -670px;
    right: 90px;
}

.hero__img .img1 {
    position: absolute;
    padding-top: 202px;
    right: 350px;

}

.hero__img .img3 {
    position: absolute;
    padding-top: 409px;
    right: 600px;
}

.hero__img .img2 {
    position: absolute;
    padding-top: 218px;
    padding-left: 396px;
}


.hero__text h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 155%;
    color: #e87d0e;
    margin-bottom: 17px;
}

.hero__text h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 155%;
    color: #fff;
    width: 479px;
    margin-bottom: 26px;
}

.hero__text p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    color: #fff;
    width: 450px;
    margin-bottom: 50px;
}

.hero__text button {
    width: 195px;
    height: 53px;
    background: linear-gradient(113deg, #fa8305 0%, #fb9e3c 100%);
    border-radius: 40px;
    width: 195px;
    height: 53px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    border: none;
}





@media(max-width:1100px) {

    .hero__logo3 {
        position: relative;
    }

    .hero__img .img3 {
        position: absolute;
        bottom: 235px;
        right: 500px;
    }

    .hero__img .joyystik {
        right: 60px;
    }



}




@media (max-width:950px) {

    .hero__img .img3 {
        right: 470px;
    }


    .hero__img .joyystik {

        right: 30px;
    }
}

@media(max-width:935px) {
    .hero__img .img3 {
        right: 450px;
    }

    .hero__img .img2 {
        right: 100px;
    }

    .hero__img .img1 {
        right: 300px;
    }

    .hero__img .joyystik {

        right: 15px;
    }
}

@media(max-width:930px) {

    .hero__img .img3 {
        display: none;
    }

    .hero__img .img2 {
        display: none;
    }

    .hero__img .img1 {
        display: none;
    }

    .hero__img .joyystik {

        display: none;
    }

    .hero__text h3 {
        text-align: center;
    }

    .hero__text h1 {
        text-align: center;
        margin: 0 auto 26px;
        display: block;
        width: 100%;
    }

    .hero__text p {
        text-align: center;
        margin: 0 auto 50px;
        display: block;
        width: 100%;
    }

    .hero__text {
        text-align: center;
        margin: 0 auto;
        display: block;
    }

}

